[user]
	email = me@aburtsev.ru
	name = Alexandr Burtsev
[alias]
	lg = log --oneline  --graph  --branches --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]'
	fixlast = commit --all --amend --no-edit
[core]
  editor = vim
; delta https://github.com/dandavison/delta config
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
